@import 'libs/bootstrap-reboot.min.css';
@import 'libs/slick.css';


@import 'base/mixins.scss';
@import 'base/variables.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 980px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/figure';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/division';
@import 'blocks/dinosaurs';
@import 'blocks/area';
@import 'blocks/contact';
@import 'blocks/tickets';


