.area {
    padding: 60px 0;
    background: rgb(67,67,67);
    background: linear-gradient(194deg, rgba(67,67,67,1) 0%, rgba(106,101,97,1) 100%);
    &__text {
        margin-top: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: $text-color;
    }
    &__wrapper {
        margin: 50px auto 0 auto;;
        width: 800px;
        .slick-dots {
            text-align: center;
            padding: 0;
            margin: 0;            
            .slick-active {
                border: 3px solid #753434;
                box-shadow: 0 0 10px #ffffff;
                transform: scale(1.05);
            }
            li {
                display: inline-block;
                border: 3px solid rgb(40, 40, 40);
                margin: 0 17px;
                list-style-type: none;
                width: 125px;
                height: 85px;
                background: url('../../img/content/locations/forest.jpg') center (center/cover) no-repeat;
                img {
                    width: 100%;
                }
                button {
                    display: none;
                }
            }
        }
    }
    &__item {
        margin-bottom: 50px;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__descr {
            text-align: center;
            color: $text-color;
            font-size: 24px;
        }  
        
    }
    &__img {
        width: 100%;
        img {
            display: block;
            margin: 0 auto;            
            width: 90%;
            border-radius: 20px;
        }
    }
}

.slick-prev, .slick-next {
    z-index: 5;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    border: none;
    background-color: rgba(88, 105, 94, 0);
    img {
        width: 40px;
        height: 40px;
    }
}
.slick-next {
    left: 100%;
    transform: translate(-100%, 50%);
}