.promo {
    padding-top: 150px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 100vh;
    background: url('../img/bg/dinosaurs_wallpaper.jpg') center (center/cover) no-repeat;
    &__title {
        color: $text_color;
        font-size: 60px;
        text-align: center;
        margin: 0;
    }
    &__subtitle {
        margin-top: 40px;
        color: $text_color;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }
    &__after {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        span {
            color: $text-color;
            font-size: 18px;
        }
        &__reserv {
            font-size: 18px;
            color: $text-color;
            text-decoration: none;
            text-shadow: 1px 1px 4px red;
        }
    }
    &__btn {
        background: rgba(228, 20, 20, 0.579);
        width: 300px;
        height: 80px;
        text-transform: uppercase; 
        font-size: 26px;
        line-height: 74px;
        font-weight: 500;
        color: $text_color;
        text-decoration: none;
        text-align: center;
        border: 3px solid rgb(80, 31, 31);
        border-radius: 100px;
        cursor: pointer;
        &:hover {
            color: $text-color;
        }
    }
}